.boton {
    font-family: Verdana;
    font-size: 13px;
	text-decoration:inherit;
	color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #004080;
}
.dat {
	color: #477CE0;
	font-family: Verdana;
	font-size: 12px;
	text-decoration: none;
}
.dato{
	color:  #00376F;;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
	
	}
a:link {
	color: #3366CC;
	text-decoration: none;
	font-family: Verdana;
	font-size: 13px;
	}
	a {	font-weight: bold;}
a:visited {	color: #3399CC;	text-decoration: none;}
a:hover {color: #000099;text-decoration: none;}
a:active {
	text-decoration: none;
	text-align: center;
}

    A.clase1:visited {color:#FFFFFF; text-decoration: none;}
    A.clase1:active {color:#FFFFFF;text-decoration: none;}
    A.clase1:link {color:#FFFFFF; text-decoration: none;}
    A.clase1:hover {color:#CCCCCC; text-decoration: none;}
	A.clase1{font-weight: bold; }
	
	A.clase2:visited {color:#900; text-decoration: none;}
    A.clase2:active {color:#039;text-decoration: none;}
    A.clase2:link {color:#900; text-decoration: underline;}
    A.clase2:hover {
	color:#C00;
	text-decoration: blink;
	font-size: 13px;
}
	A.clase2{font-weight: bold;}
	A.clase2{
	font-size: 14px;
}
	
	
.hum {color: #FFFFFF}
.ws6 {font-size: 8px;}
.ws7 {font-size: 9.3px;}
.ws8 {font-size: 11px;}
.ws9 {font-size: 12px;}
.ws10 {font-size: 13px;}
.ws11 {font-size: 15px;}
.ws12 {font-size: 16px;}
.ws14 {
	font-size: 18px;
}
.ws16 {font-size: 21px;}
.ws18 {font-size: 24px;}
.ws20 {font-size: 27px;}
.ws22 {
	font-size: 14px;
}
.ws24 {font-size: 32px;}
.ws26 {font-size: 35px;}
.ws28 {font-size: 37px;}
.ws36 {font-size: 48px;}
.ws48 {font-size: 64px;}
.ws72 {font-size: 96px;}
.wpmd {
	font-size: 12px;
	font-family: Arial,Helvetica,Sans-Serif;
	font-style: normal;
	font-weight: normal;
}
/*----------Para Styles----------*/
DIV,UL,OL /* Left */
{
	margin-top: 0px;
	margin-bottom: 0px;
}
.textTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* Responsive */
@media screen and (max-width: 600px) {
  body {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    background-color: #FFFFFF !important;
  }

  div[id^="text"], 
  div[id^="image"], 
  div[id^="table"], 
  form, 
  .wpmd {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: 95% !important;
    height: auto !important;
    margin: 10px auto !important;
    text-align: center !important;
    display: block !important;
    overflow: visible !important;
  }

  form[name="form1"] { 
    order: 0 !important; 
    display: flex !important; 
    flex-direction: column !important; 
    align-items: center !important; 
    gap: 10px !important;
    margin-bottom: 20px !important;
  }
  
  div#text12 { order: 1 !important; } 
  div#text5  { order: 2 !important; margin-top: 15px !important; } 
  div#text1  { order: 3 !important; } 
  div#image17 { order: 4 !important; } 
  div#image25 { order: 5 !important; } 
  div#image28 { order: 6 !important; } 
  div#text6  { order: 7 !important; } 
  div#text4  { order: 8 !important; text-align: left !important; } 
  div#table1 { order: 9 !important; } 

  form[name="form1"] input[type="text"] {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: 85% !important;
    height: 45px !important;
    font-size: 18px !important;
    margin: 0 auto !important;
    display: block !important;
  }

  form[name="form1"] input[type="submit"] {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: 130px !important;
    height: 40px !important;
    margin: 0 auto !important;
    display: block !important;
  }

  font, span, div, p, a {
    font-size: 19px !important;
    line-height: 1.5 !important;
  }

  .ws12, .ws14, b, strong {
    font-size: 22px !important;
  }

  img {
    display: block !important;
    margin: 10px auto !important;
    max-width: 90% !important;
    height: auto !important;
  }

  table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  iframe {
    display: none !important;
  }
}